.skill-view {
    background-color: white;
    padding: 1.25rem;
    border-radius: 0.938rem;
    box-shadow: 0 0.188rem 0.375rem rgba(0, 0, 0, 0.16), 0 0.188rem 0.375rem rgba(0, 0, 0, 0.23);
    margin-bottom: 1.25rem;
    color: black;
  }
  
  .skill-view h3 {
    color: rgb(29, 83, 159);
    margin-bottom: 1rem;
  }
  
  .skill-list {
    list-style-type: none;
    padding: 0;
  }
  
  .skill-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
  }
  
  .skill-item:hover {
    background-color: #e0e0e0;
  }
  
  .skill-logo {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
    margin-right: 1rem;
  }
  
  .skill-info {
    flex-grow: 1;
  }
  
  .skill-info h4 {
    margin: 0;
    color: rgb(29, 83, 159);
  }
  
  .skill-info p {
    margin: 0.5rem 0 0;
    font-style: italic;
  }